:root {
  /* 640px */
  --sm: 40rem;
  /* 768px */
  --md: 48rem;
  /* 1024px */
  --lg: 64rem;
  /* 1280px */
  --xl: 80rem;

  --bg: #1b1d21;
  --white: #e6e6e6;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  background-color: var(--bg);
  color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.layout {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  max-width: var(--sm);
}

.page-title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1rem;
  text-align: center;
}
@media (min-width: 40rem) {
  .page-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    line-height: 2;
  }
}

a {
  color: #0070f3;
  text-decoration: none;

  transition: color 0.15s ease;
  &:hover {
    color: rgb(0, 119, 255);
    text-decoration: underline;
  }
}

.v-divider {
  border-right: 1px solid white;
  height: 2.5rem;
  margin: 0 0.5rem;
}

.card {
  border: 0.5px solid var(--white);
  padding: 1.5rem;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  min-height: 160px;
}

.back-btn {
  text-decoration: none;
  color: var(--white);
  margin-bottom: 1.5rem;

  &:hover {
    text-decoration: underline;
    color: inherit;
  }
}

/* Utility classes */
.text-center {
  text-align: center;
}

.flex-items-center {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.mb-n {
  margin-bottom: 0;
}
